@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway light';
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway heading';
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open sans light';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'open sans', sans-serif;
  font-size: .9em;
  box-sizing: border-box;
  color: #333333; }

div, section {
  box-sizing: border-box; }

h1 {
  font-family: 'raleway heading', sans-serif;
  font-size: 3em; }

.divider {
  border-bottom: 2px solid #ed5f5f;
  width: 75px;
  margin: 0 auto;
  margin-bottom: 30px; }

.top-wrapper {
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  background-attachment: fixed; }

header {
  position: relative; }
  header .slant {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: #ffffff;
    position: absolute; }
  header .slant-body {
    position: relative;
    min-height: 800px;
    padding: 15vh 5vw 10vh 5vw; }
    header .slant-body h1 {
      font-family: 'raleway light';
      color: #3d85c6; }
    header .slant-body .logo {
      padding: 30px; }

.lead {
  font-family: "open sans light", sans-serif;
  font-size: 1.4em;
  padding: 0 20px;
  line-height: 1.6em; }

.intro {
  color: #ffffff;
  text-align: right;
  padding: 3vh 3vw 6vh 3vw;
  margin: 0; }
  .intro .lead {
    padding-top: 2vh; }
  .intro h1 {
    margin-top: -10%;
    color: #ffffff; }
  .intro .divider {
    position: absolute;
    margin: 0 4vw 0 0;
    right: 0;
    width: 100px; }

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  font-family: 'raleway', sans-serif;
  letter-spacing: 1px; }
  .nav ul {
    display: block;
    float: right;
    padding-right: 3vw; }
  .nav li {
    list-style: none;
    margin: 10px 5px;
    float: left; }
  .nav a {
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent; }
    .nav a:hover {
      border: 1px solid #3d85c6;
      color: #3d85c6;
      border-radius: 30px; }

.team {
  background: #ffffff;
  margin: 10vh 0;
  padding: 0 4vw; }
  .team h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: #b7b7b7;
    text-align: center;
    letter-spacing: 2px; }
  .team .col-xs {
    padding: 0 10px; }
  .team p {
    line-height: 1.8em; }

.deliverables {
  color: #ed5f5f;
  background: #314545; }
